@import url('https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&display=swap');

body{
    font-family: 'Baskervville', serif;
}

.custom-nav{
    background-color: #00b74a;
}

.hero-image{
    width: 100%;
    margin-bottom: 1rem;
}

.hero-image img{
    width: 100%;
}

.card .bg-image{
    padding: 10px 0px;
}

.card-body{
    background-color: #FAEEC2;
}

.recipe-custom-card {
    max-width: 400px;
    margin: auto;
    min-height: 300 px;
}

.image-style {
    height: 200px;
    object-fit: cover;
}

.recipe-detail {
    margin: auto;
    min-height: 300 px;
}


.bar-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

.red-bg{
    color: rgb(252, 19, 19);
}

.green-bg{
    color: rgb(13, 255, 13);
}

.align-space-top{
    margin-top: 2rem;
}



