{% extends "base.html" %}

{% block content %}

<!-- Form to add recipe to database -->
<div class="wrapper d-flex justify-content-center my-5">
    <div class="card w-50 text-center">
        <div class="card-body">
            <h5 class="card-title my-4">Add your recipe</h5>
            <form method="POST" action="">
                {{form.hidden_tag()}}

                <!-- Recipe Title -->
                {%if form.title.errors%}
                {%for error in form.title.errors%}
                <span>{{error}}</span>
                {%endfor%}
                {%endif%}
                <div class="form-outline mb-4">
                    {{form.title(class = "form-control")}}
                    {{form.title.label(class = "form-label")}}
                </div>

                <!-- Recipe Description -->
                {%if form.description.errors%}
                {%for error in form.description.errors%}
                <span>{{error}}</span>
                {%endfor%}
                {%endif%}
                <div class="form-outline mb-4">
                    {{form.description(class = "form-control")}}
                    {{form.description.label(class = "form-label")}}
                </div>

                <!-- Recipe category -->
                {%if form.category.errors%}
                {%for error in form.category.errors%}
                <span>{{error}}</span>
                {%endfor%}
                {%endif%}
                <div class="form-outline mb-4">
                    {{form.category(class = "form-control")}}
                    {{form.category.label(class = "form-label")}}
                </div>

                <!-- Image URL field -->
                {%if form.image_url.errors%}
                {%for error in form.image_url.errors%}
                <span>{{error}}</span>
                {%endfor%}
                {%endif%}
                <div class="form-outline mb-4">
                    {{form.image_url(class = "form-control")}}
                    {{form.image_url.label(class = "form-label")}}
                </div>

                <!-- Ingredients field -->
                {%if form.ingredients.errors%}
                {%for error in form.image_url.errors%}
                <span>{{error}}</span>
                {%endfor%}
                {%endif%}
                <div class="form-outline mb-4">
                    {{form.ingredients(class = "form-control")}}
                    {{form.ingredients.label(class = "form-label")}}
                </div>

                <!-- Direction for preparation -->
                {%if form.directions.errors%}
                {%for error in form.image_url.errors%}
                <span>{{error}}</span>
                {%endfor%}
                {%endif%}
                <div class="form-outline mb-4">
                    {{form.directions(class = "form-control")}}
                    {{form.directions.label(class = "form-label")}}
                </div>

                <!-- Submit button -->
                {{form.save_recipe(class="btn btn-success w-50 text-center")}}
            </form>
        </div>
    </div>
</div>


{% endblock content %}