{% extends "base.html" %}

{% block content %}

<div class="wrapper d-flex justify-content-center">
    <div class="card w-50 text-center">
        <div class="card-body">
        <h5 class="card-title">Edit your recipe</h5>
        <form method="POST" action="{{url_for('edit_recipe', recipe_id=recipe._id)}}">
            {{form.hidden_tag()}}

            {%if form.title.errors%}
            {%for error in form.title.errors%}
            <span>{{error}}</span>
            {%endfor%}
            {%endif%}
            <div class="form-outline mb-4">
            {% for recipe in recipies%}
                {{form.title(class = "form-control", value ="{{ recipe.title }}")}}
                {{form.title.label(class = "form-label")}}
                {% endfor %} 
            </div>

            {%if form.description.errors%}
            {%for error in form.description.errors%}
            <span>{{error}}</span>
            {%endfor%}
            {%endif%}
            <div class="form-outline mb-4">
                {{form.description(class = "form-control")}} {{recipe.description}}
                {{form.description.label(class = "form-label")}}
            </div>
            {%if form.category.errors%}
            {%for error in form.category.errors%}
            <span>{{error}}</span>
            {%endfor%}
            {%endif%}
            <div class="form-outline mb-4">
                {{form.category(class = "form-control", value ="{{recipe.category}}")}}
                {{form.category.label(class = "form-label")}}
            </div>

            {%if form.image_url.errors%}
            {%for error in form.image_url.errors%}
            <span>{{error}}</span>
            {%endfor%}
            {%endif%}
            <div class="form-outline mb-4">
                {{form.image_url(class = "form-control", value ="hi")}}
                {{form.image_url.label(class = "form-label")}}
            </div>

            {%if form.ingredients.errors%}
            {%for error in form.image_url.errors%}
            <span>{{error}}</span>
            {%endfor%}
            {%endif%}
            <div class="form-outline mb-4">
                {{form.ingredients(class = "form-control", value ="hi")}}
                {{form.ingredients.label(class = "form-label")}}
            </div>

            <!-- <div class="input_fields_wrap">
                <button class="add_ingredients">Add</button>
            </div> -->

            {%if form.directions.errors%}
            {%for error in form.image_url.errors%}
            <span>{{error}}</span>
            {%endfor%}
            {%endif%}
            <div class="form-outline mb-4">
                {{form.directions(class = "form-control", value ="hi")}}
                {{form.directions.label(class = "form-label")}}
            </div>

            <!-- <button id="add-direction">Add</button> -->

            <!-- Submit button -->
            {{form.save_recipe(class="btn btn-success btn-block w-25")}}
        </form>
    </div>
</div>
</div>


{% endblock content %}

<script src="{{url_for('static', filename='./JS/main.js')}}"></script>