{% extends "base.html" %}

{% block content %}

<div class="wrapper d-flex justify-content-center my-5">
    <div class="card w-50 text-center">
        <div class="card-body">
            <h5 class="card-title">Edit your recipe</h5>
            <form method="POST" action="{{url_for('edit_recipe', recipe_id=recipe._id)}}">
                <!-- Recipe Title -->
                <div class="form-outline mb-4">
                    <input class="form-control" id="title" name="title" required type="text"
                        value="{{ recipe.title }}">
                    <label class="form-label" for="title" style="margin-left: 0px;">Recipe Title</label>
                    <div class="form-notch">
                        <div class="form-notch-leading" style="width: 9px;"></div>
                        <div class="form-notch-middle" style="width: 70.4px;"></div>
                        <div class="form-notch-trailing"></div>
                    </div>
                </div>

                <!-- Recipe Description -->

                <div class="form-outline mb-4">
                    <textarea class="form-control" id="description" name="description"
                        required="">{{ recipe.description }}</textarea>
                    <label class="form-label" for="description" style="margin-left: 0px;">Description</label>
                    <div class="form-notch">
                        <div class="form-notch-leading" style="width: 9px;"></div>
                        <div class="form-notch-middle" style="width: 67.2px;"></div>
                        <div class="form-notch-trailing"></div>
                    </div>
                </div>

                <!-- Recipe category -->

                <div class="form-outline mb-4">
                    <input class="form-control" id="category" name="category" required="" type="text" value="{{ recipe.category }}">
                    <label class="form-label" for="category" style="margin-left: 0px;">Category</label>
                    <div class="form-notch">
                        <div class="form-notch-leading" style="width: 9px;"></div>
                        <div class="form-notch-middle" style="width: 55.2px;"></div>
                        <div class="form-notch-trailing"></div>
                    </div>
                </div>

                <!-- Image URL field -->

                <div class="form-outline mb-4">
                    <input class="form-control" id="image_url" name="image_url" required="" type="text" value="{{ recipe.image_url }}">
                    <label class="form-label" for="image_url" style="margin-left: 0px;">Image URL</label>
                    <div class="form-notch">
                        <div class="form-notch-leading" style="width: 9px;"></div>
                        <div class="form-notch-middle" style="width: 68px;"></div>
                        <div class="form-notch-trailing"></div>
                    </div>
                </div>

                <!-- Ingredients field -->
                
                <div class="form-outline mb-4">
                    <textarea class="form-control" id="ingredients" name="ingredients" required="">{{ "\n".join(recipe.ingredients) }}</textarea>
                    <label class="form-label" for="ingredients" style="margin-left: 0px;">Ingredients</label>
                    <div class="form-notch">
                        <div class="form-notch-leading" style="width: 9px;"></div>
                        <div class="form-notch-middle" style="width: 64.8px;"></div>
                        <div class="form-notch-trailing"></div>
                    </div>
                </div>

                <!-- Direction for preparation -->

                <div class="form-outline mb-4">
                    <textarea class="form-control" id="directions" name="directions" required="">{{ "\n".join(recipe.directions) }}</textarea>
                    <label class="form-label" for="directions" style="margin-left: 0px;">Directions</label>
                    <div class="form-notch">
                        <div class="form-notch-leading" style="width: 9px;"></div>
                        <div class="form-notch-middle" style="width: 60.8px;"></div>
                        <div class="form-notch-trailing"></div>
                    </div>
                </div>

                <!-- Submit button -->
                <input class="btn btn-success w-50" id="save_recipe" name="save_recipe" type="submit" value="save">

            </form>
        </div>
    </div>
</div>


{% endblock content %}

<script src="{{url_for('static', filename='./JS/main.js')}}"></script>