{% extends "base.html" %}

{% block content %}


<div class="bar-wrapper">
    <form method="GET" action="{{url_for('index')}}">
        <div class="input-group">
            <div class="form-outline">

                <input type="search" name="search" id="form1" class="form-control" />
                <label class="form-label" for="form1">Search</label>
            </div>
            <button type="submit" class="btn btn-success">
                <i class="fas fa-search"></i>
            </button>
        </div>
    </form>
    <div class="dropdown">
        <a class="btn btn-success dropdown-toggle" role="button" id="dropdownMenuLink"
            data-mdb-toggle="dropdown" aria-expanded="false">
            Sort by
        </a>

        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <li><a class="dropdown-item" href="{{url_for('sort_ascending')}}">Ascending</a></li>
            <li><a class="dropdown-item" href="{{url_for('sort_descending')}}">Descending</a></li>
        </ul>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="card-wrap col-md-12">
        {% for recipe in recipies%}
            <div class="card mb-3" style="max-width: 540px">

                <div class="card-body">
                    <div class="card-body">
                        <h3 class="card-title">{{ recipe.title }}</h3>
                        <div class="bg-image">
                            <img src="{{ recipe.image_url }}" class="img-fluid" />
                        </div>
                        <h6 class="card-title">By: {{recipe.contributor}}</h6>

                        <ol>
                            <h3>Ingredients</h3>
                                {% for ingredient in recipe.ingredients %}
                                    <li>{{ ingredient }}</li>
                            
                                {% endfor %}
                        </ol>
                        <ol>    
                            <h3>Direction</h3>
                                {% for direction in recipe.directions %}
                                    <li>{{ direction }}</li>
                                {% endfor %}
                        </ol>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
</div>






{% endblock content %}