{% extends "base.html" %}

{% block content %}


<div class="card-wrap">
    {% for recipe in recipies%}
        <div class="card mb-3" style="max-width: 540px">
            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img src={{ recipe.image_url }} class="img-fluid" />
                <a href="#!">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
                </a>
            </div>
            <div class="card-body">
                <div class="card-body">
                    <h3 class="card-title">{{ recipe.title }}</h3>
                    <h5 class="card-title">{{ recipe.description }}</h5>
                    <h6 class="card-title">"Contributed by: {{recipe.contributor}}"</h6>
                    <ol>
                        <h3>Ingredients</h3>
                            {% for ingredient in recipe.ingredients %}
                                <li>{{ ingredient }}</li>
                           
                            {% endfor %}
                        <h3>Direction</h3>
                            {% for direction in recipe.directions %}
                                <li>{{ direction }}</li>
                            {% endfor %}
                    </ol>
                </div>
            </div>
        </div>
    {% endfor %}
</div>




{% endblock content %}