{% extends "base.html" %}
{% block register %}

<!-- User login form -->
<div class="wrapper d-flex justify-content-center my-5">
    <div class="card text-center align-space-top">
        <div class="card-body">
            <h5 class="card-title my-4">Please login to view content</h5>
            <form method="POST" action="">
                {{form.hidden_tag()}}

                <!-- Email Id Field -->
                {%if form.email.errors%}
                {%for error in form.email.errors%}
                <span>{{error}}</span>
                {%endfor%}
                {%endif%}
                <div class="form-outline mb-4">
                    {{form.email(class = "form-control")}}
                    {{form.email.label(class = "form-label")}}
                </div>

                <!-- Password Field -->
                {%if form.password.errors%}
                {%for error in form.password.errors%}
                <span>{{error}}</span>
                {%endfor%}
                {%endif%}
                <div class="form-outline mb-4">
                    {{form.password(class = "form-control")}}
                    {{form.password.label(class = "form-label")}}
                </div>

                <!-- Submit button -->
                {{form.submit(class="btn btn-success w-50")}}
            </form>
            <div class="my-2">
                <h6>New member?<a class="mx-2 font-bold" href="{{url_for('user_registration')}}"><strong>Sign Up</strong></a></h6>
            </div>
        </div>
    </div>
</div>


{% endblock register %}